﻿/* fonts */
@font-face {
    font-family: "Gill Sans Infant";
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Regular.eot?#iefix");
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Regular.eot?#iefix") format("eot"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Regular.woff") format("woff"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans Infant";
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Bold.eot?#iefix");
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Bold.eot?#iefix") format("eot"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Bold.woff") format("woff"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans Infant";
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Italic.eot?#iefix");
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Italic.eot?#iefix") format("eot"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Italic.woff") format("woff"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans Infant";
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-BoldIt.eot?#iefix");
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-BoldIt.eot?#iefix") format("eot"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-BoldIt.woff") format("woff"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/GillSansInfantStd-BoldIt.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Trade Gothic LT";
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/TradeGothicW02-BoldCn20.eot?#iefix");
    src: url("https://www.savethechildren.ngo/member-popup/dist/fonts/TradeGothicW02-BoldCn20.eot?#iefix") format("eot"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/TradeGothicW02-BoldCn20.woff2") format("woff2"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/TradeGothicW02-BoldCn20.woff") format("woff"), url("https://www.savethechildren.ngo/member-popup/dist/fonts/TradeGothicW02-BoldCn20.ttf") format("truetype");
}

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$headings-font-family: "Trade Gothic LT", $font-family-sans-serif;
$font-family-base: "Gill Sans Infant", $font-family-sans-serif;

h1, h2, h3, h4 {
    text-transform: uppercase;
}
