﻿/* colors */
$stc-black: #222221;
$gray-dark: #222221;
$stc-orange: #FC4C02;
$stc-red: #DA291C;
$stc-plum: #9A3324;
$stc-biscuit: #D1CCBD;
$stc-biscuit-light: #F3F2EE;
$stc-biscuit-lighter: lighten($stc-biscuit, 18%);
$stc-teal: #009CA6;
$stc-mustard: #F2A900;
$stc-red-gradient: #761706;
$stc-light-gray: lighten($stc-black, 82%);

$body-color: $stc-black;
$colors: ( "blue": $stc-teal, );
$theme-colors: ( "primary": $stc-red, "danger": $stc-red, "success": $stc-teal, "warning": $stc-mustard, "light": $stc-biscuit-light, );

/* overrides */
$progress-bar-bg: $stc-teal;
$progress-bg: $stc-biscuit-light;
$border-color: $stc-biscuit;
$input-border-color: $stc-biscuit;
$component-active-bg: $stc-teal;
$link-hover-color: $stc-plum;
$btn-padding-x: 1rem;

$breadcrumb-bg: $stc-biscuit-light;
$jumbotron-bg: $stc-biscuit-light;
