﻿<%@ Page Title="ETL Audit" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="BIAdminReports.aspx.cs" Inherits="Reporting_Portal.BIAdmin.BIAdminReports" %>
<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
        <div>
            <rsweb:ReportViewer ID="ReportViewer1" runat="server" ProcessingMode="Remote" Width="100%" Height="1000px">
            </rsweb:ReportViewer>
        </div>
</asp:Content>
